:root {
  --azulestranho: azure;
  --branco: white;
  --preto: black;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(139deg, #0000, #696969);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.parte1 {
  color: var(--branco);
  font-size: 24px;
  transition: 0.5s;
}

.parte1:hover {
  color: var(--azulestranho);
  transform: scale(0.9);
  cursor: pointer;
}

.partep {
  color: var(--azulestranho);
}

.botao {
  padding: 30px;
  min-height: 44px;
  border-radius: 7px;
  border: none;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.botao:hover {
  background-color: gainsboro;
  transform: scale(1.1);
}

.linkm {
  text-decoration: none;
  color: var(--azulestranho);
}

.pabas {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.pabas a.botao {
  background-color: var(--branco);
  color: var(--preto);
  text-decoration: none;
  font-weight: 600;
}

.pfazer {
  background-color: var(--branco);
  border-radius: 5px;
  padding: 15px;
}

.pconcluidas {
  background-color: var(--branco);
  border-radius: 5px;
  padding: 15px;
}

.pconcluidas h3 {
  margin-top: 0;
  color: var(--preto);
}

.pfazer h3 {
  margin-top: 0;
  color: var(--preto);
}

@media (max-width: 480px) {
  .botao {
    padding: 18px;
    width: 80%;
  }
}

.tarefa {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: 20px;
}

.tarefa input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-family:sans-serif;
}

.tarefa textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-family: sans-serif;
}
